<h2>Listado Clientes</h2>

<table class="table">
    <tbody>
        <!-- <tr>
            <td>Cliente 1</td>
            <td>B 123</td>
            <td>C/ la la la</td>
            <td>1</td>
        </tr> -->


        <!-- 1.5. RECIBIENDO DATOS DEL COMPONENTE PADRE -->
        <!-- <tr>
            <td>{{valor[0]}}</td>
            <td>{{valor[1]}}</td>
            <td>{{valor[2]}}</td>
            <td>{{valor[3]}}</td>
        </tr> -->
        <!-- <h4>{{valor}}</h4> -->
        <!-- <tr>
            <td>{{formularioEnviado.value["nombre"]}}</td>
            <td>{{formularioEnviado.value["cif"]}}</td>
            <td>{{formularioEnviado.value["direccion"]}}</td>
            <td>{{formularioEnviado.value["grupo"]}}</td>
        </tr> -->
        <tr>
            <!-- <td *ngFor="let i; formularioEnviado.lenght > i ">{{formularioEnviado.value[0]["nombre"]}}</td> -->
            <!-- <td *ngFor="">{{formularioEnviado.value[0]["nombre"]}}</td>
            <td *ngFor="">{{formularioEnviado.value[0]["nombre"]}}</td>
            <td *ngFor="">{{formularioEnviado.value[0]["nombre"]}}</td> -->
        </tr>



    </tbody>
</table>