<h2>Lista de tareas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Completado</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Comida</td>
            <td>Mirar la receta de las croquetas</td>
            <td><button class="btn btn-success">Ok</button></td>
            <td><button class="btn btn-danger">Eliminar</button></td>
        </tr>
        <tr class="table-success">
            <td>Comida</td>
            <td>Mirar la receta de las croquetas</td>
            <td><button class="btn btn-success">Ok</button></td>
            <td><button class="btn btn-danger">Eliminar</button></td>
        </tr>
        <tr>
            <td>Comida</td>
            <td>Mirar la receta de las croquetas</td>
            <td><button class="btn btn-success">Ok</button></td>
            <td><button class="btn btn-danger">Eliminar</button></td>
        </tr>
    </tbody>
</table>