<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container pt-5">
    <form action="" [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()">
        <div class="row justify-content-md-center">
    
            <div>
                <h2>Alta cliente</h2>
            </div>
        
            <!-- PRUEBA -->
            <!-- <div class="mb-3">
                <label for="" class="form-label">pPrueba:</label>
                <input type="text" class="form-control" id="prueba1" required>
            </div> -->
            



            <div class="mb-3">
                <label for="" class="form-label">Nombre:</label>
                <input type="text" class="form-control" value="" formControlName="nombre" required>
            </div>
        
            <div class="mb-3">
                <label for="" class="form-label">CIF:</label>
                <input type="text" class="form-control" formControlName="cif">
            </div>
        
            <div class="mb-3">
                <label for="" class="form-label">Dirección:</label>
                <input type="text" class="form-control" formControlName="direccion">
            </div>
        
            <div class="mb-3">
                <label for="" class="form-label">Grupo:</label>
                
                <select name="" class="form-select" formControlName="grupo">
                    <option value="" selected disabled>Sin definir</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            
        </div>
    </form>

    <br>

    <app-listado-clientes [formularioEnviado] = "listaDatos"></app-listado-clientes>
    <!-- <app-listado-clientes [formularioEnviado] = "formularioUsuario"></app-listado-clientes> -->


    <!-- 1.4. PASANDO VALORES A UN COMPONENTE HIJO -->
    <!-- es lo mismo pasar una Variable que un Array -->
    <!-- <app-listado-clientes [valor] = "variable1"></app-listado-clientes> -->
    <!-- <app-listado-clientes [valor] = "arrayPrueba"></app-listado-clientes> -->
    
    
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

